body.pages.index {

  .col-md-12 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  button {
    margin-top: 100px;
    height: 300px;
    width: 300px;
    font-size: 3.5em;
  }

}
